body {
  background-color: black;
  color: white;

}

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  background-image: url('./images/background.jpg');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  margin-left: 20px;
  margin-right: 20px;
}



.button-map {
  position: relative;
  width: 90vw;
  height: 30vh;
  background-color: #333333;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  font-size: 24px;

}

.buttons-pressed {
  display: inline-block;

}

.list-item {
  display: inline-block;
  margin-left: 10px; 
  color: white;

}

.progress-bar {
  background-color: #d0011b;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 4px;
}