body {
  background-color: black;
  color: white;

}

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  background-image: url('./images/background2.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 960px;
}



#canvas {
    background-color: #333333;
    margin-top: 30px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.button-map {
  position: relative;
  width: 960px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 24px;

}

.buttons-pressed {
  display: inline-block;

}

.list-item {
  display: inline-block;
  margin-left: 10px; 
  color: white;

}

.progress-bar {
  background-color: #d0011b;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 4px;
}

.Modal {
  position: absolute;

  font-size: 48px;
  background-color: rgba(38,50,56 ,1);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 20px;
}

.bindings-header {
  font-size: 24px;
  color: white;
}

.controller-buttons {
  color: white;
  width: 540px;
  height: 540px;
  font-size: 24px;
}

.controller-buttons ul { 
  list-style: none;
  padding-left: 0px;
}


.controller-buttons button {
  height: 40px;
  margin-bottom: 10px;
  margin-right: 20px;
  cursor: pointer;
  background-color: rgba(69,90,100 ,0.5);
  border-radius: 15px;
  border: none;

}

.controller-buttons button:hover {
  background-color: rgba(69,90,100 ,1);

}

.mode-select {
  display: block;
  width: 400px;
  height: 400px;
}